{{define "oob_message"}}
<div hx-swap-oob="beforeend:#messages">
    <div class="flex group">
        <div class="mr-4 flex-shrink-0">
            <div class="w-10 h-10 rounded-full bg-[#{{.AuthorUserColor}}] flex items-center justify-center">
                <span class="font-bold text-sm">{{firstLetter .AuthorUsername}}</span>
            </div>
        </div>
        <div class="flex-1">
            <div class="flex items-baseline">
                <h3 class="font-medium text-white">{{.AuthorUsername}}</h3>
                <span class="ml-2 text-xs text-stone-400">{{.CreatedAt.Format "2006-01-02 15:04"}}</span>
            </div>
            <div class="mt-1 text-stone-200">
                {{.Content}}
            </div>
        </div>
    </div>
</div>
{{end}}{{template "oob_message" .}}