{{define "title"}}Login{{end}}
{{define "header"}}Login{{end}}
{{define "content"}}
<div class="flex justify-center items-center h-screen">
    <div class="bg-stone-800 rounded-lg shadow-xl p-8 w-full max-w-md mx-4 border border-stone-700">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-white mb-2">Welcome</h1>
            <p class="text-stone-300">Sign in to continue to your account</p>
        </div>
        <div class="flex justify-center mb-6">
            <div class="mt-6 flex justify-center">
                <a href="/auth?provider=google"
                    class="w-full py-2.5 px-4 bg-green-500 hover:bg-green-600 text-white font-medium rounded-lg transition duration-300 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-5 w-5 mr-2">
                        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                        <polyline points="10 17 15 12 10 7"></polyline>
                        <line x1="15" y1="12" x2="3" y2="12"></line>
                    </svg>
                    Continue with Google
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}